@model StyleLink.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
    ViewData["HasFooter"] = false;
}

<section class="custom-container-sm mx-auto px-2 pt-3">
    <h2 class="text-center mt-3">Înregistrare</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="d-flex flex-column gap-2">
            @Html.ValidationSummary(true, "", new
            {
                @class="text-danger"
            })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName, new
                {
                    htmlAttributes = new
                    {
                        placeholder = "Introduceți prenumele",
                        @class = "form-control",
                    }
                })
                @Html.ValidationMessageFor(model => model.FirstName, "", new
                {
                    @class = "text-danger"
                })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName, new
                {
                    htmlAttributes = new
                    {
                        placeholder = "Introduceți numele",
                        @class = "form-control",
                    }
                })
                @Html.ValidationMessageFor(model => model.LastName, "", new
                {
                    @class = "text-danger"
                })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new
                {
                    htmlAttributes = new
                    {
                        placeholder = "Introduceți adresa de email",
                        @class = "form-control",
                    }
                })
                @Html.ValidationMessageFor(model => model.Email, "", new
                {
                    @class = "text-danger"
                })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.EditorFor(model => model.PhoneNumber, new
                    {
                        htmlAttributes = new
                        {
                            placeholder = "Introduceți numărul de telefon",
                            @class = "form-control",
                        }
                    })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new
                    {
                        @class = "text-danger"
                    })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new
                {
                    htmlAttributes = new
                    {
                        placeholder = "Introduceți parola",
                        @class = "form-control",
                    }
                })
                @Html.ValidationMessageFor(model => model.Password, "", new
                {
                    @class = "text-danger"
                })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword, new
                {
                    htmlAttributes = new
                    {
                        placeholder = "Reintroduceți parola",
                        @class = "form-control",
                    }
                })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new
                {
                    @class = "text-danger"
                })
            </div>
            <div class="form-check">
                @Html.EditorFor(model => model.AgreeWithTermsAndConditions, new
                {
                    htmlAttributes = new
                    {
                        type = "checkbox",
                        @class = "form-check-input",
                    }
                })
                <label class="form-check-label" for="@nameof(Model.AgreeWithTermsAndConditions)">Acceptați <a target="_blank" asp-area="" asp-controller="Information" asp-action="TermsAndConditions">Termenii și condițiile</a></label>
                <br/>
                @Html.ValidationMessageFor(model => model.AgreeWithTermsAndConditions, "", new
                {
                    @class = "text-danger"
                })
            </div>
            @*todo:*@
            <div class="form-group">
                <label for="profileImage" class="form-label">Imagine de profil</label>
                <input type="file" name="profileImage" id="profileImage" onchange="fileCheck(this);" />
            </div>

            <button type="submit" class="btn blue-background-color rounded-pill">Înregistrare</button>
            <label>Ai deja cont? <a asp-area="" asp-Scontroller="Account" asp-action="Login">Intră în cont</a></label>
        </div>
    }
</section>  